<h1>Register</h1>

<%= form_for @changeset, Routes.login_path(@conn, :register_post), fn f -> %>
	<label> Name     <%= text_input f, :name %> </label> <%= error_tag f, :name %>
	<label> Password <%= text_input f, :password, type: :password %> </label> <%= error_tag f, :password %>
	<%= submit "Register" %>
<% end %>

<%= link "Or log into an existing account", to: Routes.login_path(@conn, :login) %>
