<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "PasswordExample", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><a href="/show">Home</a></li>
            <li><a href="/">Register</a></li>
            <li><a href="/login">Log In</a></li>
            <%# TODO %>
            <%= form_for @conn, "/logout" do %>
              <button>Log out</button>
            <% end %>
            <%# <form method="post" action="/logout">
              <button>Log out</button>
            </form> %>
          </ul>
        </nav>
        <div class="phx-logo" style="font-size: 4rem">
          Passwords Example
        </div>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
