<section>
	<table>
		<thead>
			<th>Name</th>
			<th>Password</th>
			<th>Salt</th>
			<th>Hashed Password</th>
		</thead>
		<tbody>
			<%= for user <- @users do %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.password %></td>
					<td><%= user.salt %></td>
					<td><%= user.hashed_password %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</section>
